
    <h1>{{title}}</h1>
        
<!--        these are keywords which are sent to the server and the corresponding ID are created so that -->
<!--        we print the data correctly, if they are directly printed it will print just json files from user.js-->
        <p>{{abc.name}} 
            username: {{abc.username}}</p>
        <p>{{abc.id}}</p>
       
        
        
        <footer>
        <p>
            <a href="/">HOme</a>
            <a href="/about">About</a>
        <a href="/login">LOgin</a>
            <a href="/signup">SignUp</a>
            
            </p>
        
        </footer>
 